.container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
  color: white;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #cbd5f5;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
}

.input:focus {
  outline: none;
  border-color: #38bdf8;
}

.passwordWrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background: #0ea5e9;
}

.error {
  color: #f87171;
  font-size: 12px;
  margin-top: 5px;
}

.switchText {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.link {
  color: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}